timeout: 10s  # global default max execution time

commands:
  - /usr/bin/whoami
  - /usr/bin/ls: "^-la /var/log/.*$"
  - /usr/bin/cat: "^/var/log/.*$"
  - /usr/bin/systemctl: "^status .+$"
  - /usr/bin/journalctl: "^-u .+$"
  - /usr/bin/df
  - /usr/bin/free
  - /usr/bin/uptime
  - /usr/bin/ps: "^(aux|-ef)$"
  - /usr/sbin/ip: "^(addr|route|link)$"
  - /usr/bin/ss: "^-(t|u)lnp$"
  - /usr/bin/ping: { args: "^-c \\d+ .+$", timeout: 30s }
  - /usr/bin/dig
  - /usr/bin/top: "^-bn1$"
